

    <body>
        <h1>Welcome to SRGD</h1>
        @ViewBag.ClusterInitialized
        <br/>
        <br/>
        <input type="button" value="Register" onclick="location.href='@Url.Action("Register","Home")'" />
        <br/>
        <br/>
        <input type="button" value="Login" onclick="location.href='@Url.Action("Login","Home")'" />
    </body>
