<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="../css/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>

